%p
  Well here goes nothing- you put the time-machine/car into park and you chase the dog down.  It looks at you and smiles, thinking you are playing a game with it so it takes off.  It runs towards Theresa’s house but stops at the house right before it.  He runs up right to a woman holding a baby.

%p
  Woman with baby: On my goodness!  I’ve been looking for this little guy all morning!  Where did you find him?

%p
  You: He was running up and down the streets causing a lot of traffic.  I tried to catch him to get him out of the street, and he knew to run straight to your home.

%p
  Woman with baby: Thank you so much.  I’m not sure what your plans were for the whole day but here is a six-pack of Heineken for your troubles.

%p
  You: …Thanks?  Glad your dog is ok.

%p
  You walk back to the NSX with the beer, not sure what to do with it.  By now the traffic has cleared and you drive right back to Theresa’s house.  You knock on the door, and her dad answers.  Shit.  You are a grown man with beer and a flashy car behind you trying to talk to this man’s daughter.

%p
  You: I … is Theresa here?

%p
  Daddy Cong: Ugh, you are from her school?  You must be- you look like a baby.  Is that beer?

%p
  You: My dad said I shouldn’t come to anyone’s house without bringing a gift.  Theresa said you might like this...

%p
  He grabs it from you and walks away.  No words.  Man of very little words.

%p
  Theresa: Um- hello?  Who are you?

%p
  You hand her over the box of donuts.  She opens them and smells them and raises her eyebrows.  Should you tell her?  Pretty sure that is the number one rule of time travel: not to talk about time-traveling.

%p
  You lie- you tell her that her best friend Nina is on her way over and you were Nina’s cousin.  You tell her that Nina told you to bring donuts so we can all watch movies.  Theresa buys it and takes a bite of the donut.  She keeps eating.  Nina is late.  No one questions it.  Nina is always late.  She keeps eating, and finally finishes the 12th one.  What the hell- you weren’t sure the story was true until now.  There is giant flash of light, and she realizes who you are and what you have been through and she takes you into her arms and says:

%p
  I can’t believe you did all this: chased a dog, dealt with my neighbor, bypassed my dad, creatively lied about Nina sending you on a donut-errand to change the course of my future!  You will do whatever it takes to get the job done!  Not only have I benefited from this wonderful trait of yours, but it is something that others constantly admire about you.  Once you have committed your heart to something, you see through it to the end.  Whether it is to help a friend move or to help your wife see some tough emotional times, you are there 100% of the time and with your whole being.  I’m not sure what fuels your heart to serve others this way but I am ever grateful for it and can only hope to provide you with the same level of support.

%p
  %strong
    THE END

%p
  %a(href = '/')
    Play Again
