%p
  Time to stop walking in circles, and get the show on the road.  You climb off of Phillipe, and walk around to inspect him.  You know zero much about horses and vet stuff, but he looks healthy for a cartoon horse.  Maybe you have to walk him there?  You start trying to guide him by walking next to him.  He doesn’t move.  Dang it!  Time to get back on and try to ride him again.  Nope- he still doesn’t move.  You decide you have to physically push him to motivate him- the reins aren’t doing anything.

%p
  You hop off and start pushing at Phillipe’s bum.  The moment you put your palms on his butt you feel a force propelling you both forward at lightning speed!

%p
  … And you are in Theresa’s living room … with a cartoon horse.  She is staring at you mid-bite (on her tenth donut)- you came just in time to give her the remaining 12!  Luckily, she loves Beauty and the Beast so she recognizes Phillipe and her current favorite TV show is Sliders so sci-fi travel is on the forefront of her mind.  She takes you into her arms and says:

%p
  You pushed a horse through time to save me?  I haven’t fallen in love with you at this point (in 1998) but I can see why I would.  Not only are you physically strong but you are an emotional rock.  We will probably make some tough decisions during our time together without a firm awareness of what the next steps are- you will probably power through it each time and be there for me to lean on.  I pride myself on being a strong girl now and in the future, and thank you for letting me exercise this strength.  I know you are able to do this because you do not doubt your own power.  Thank you for letting me fly and always soaring with me.

%p
  %strong
    THE END

%p
  %a(href = '/')
    Play Again
