%p
  The poor dog might be hungry!  It needs a good home!  I’ll just pick Theresa up an extra donut as she starts eating the first one; I’ll have plenty of time.  You tempt the dog with a jelly-filled donut.  He is happy as a clam.  You get to Theresa’s house and explain you there only to give her donuts and a dog and that you would be right back with another donut.  She is confused but cannot say no to these gifts.  You run off to the nearest Krispie Kreme to grab the last donut for her.  As she takes a bite of the donut, there is giant flash of light in the sky and all of a sudden she is wearing all white and you are wearing all white.  (It took the story-teller 4 weeks to find these outfits for you guys cus white clothes in the winter are so hard to find- so be grateful).   She realizes who you are and what you have been through and she takes you into her arms and says:
%p
  You are so thoughtful!  You fed this dog, gave him to me, and fed me so I wouldn’t become raging bitch that curses a village with farts!  You think about pulling the car around on cold days so you can run the heater for all the passengers.  You wash all the bedding before we have guests stay over.  You test the cushions of our potential couches to make sure our dogs would like it.  The occasions when you put the needs of others before your own are countless.  And you come home, and you still have some energy left for me.  Where does this come from?  It’s magic I’d say.  Thank you for inspiring me to give more and love more.

%p
  %strong
    THE END

%p
  %a(href = '/')
    Play Again
