%p
  Farting Man: Best of luck on your mission.  (/farts)  Here are your 12 donuts. (/farts)

%p
  Sweet!  You step into your dream car and turn up the tunes, snap in your seat belt, and set your desired year to be 1998.  You feel a force propelling you forward at lightning speed!

%p
  You arrive at the entrance of Theresa's subdivision, except there is a bunch of traffic in her neighborhood because there is a stray dog running around in the street- Oh No!  What do you do?

%p
  %a(href = '/nsx/chase-dog')
    Park the car right where you are and chase after the dog.

%p
  %a(href = '/nsx/lure-with-donuts')
    Open your car door and lure the dog with the smell of the donuts.
