%p
  A horse/time-machine?!  How can one resist that?  Best hybrid vehicle ever!

%p
  Farting Man: Best of luck on your mission.  (/farts)  Here are your 12 donuts. (/farts)

%p
  You climb on Phillipe.  He seems to like you!  He nays and smiles (cus he’s a cartoon horse).  He starts trotting… for a while … in a circle.

%p
  You: When does the time-machine part kick in?

%p
  Farting Man: Not sure.  (/farts)  Legend has it that you would know.  (/farts)

%p
  You aren’t sure if you should

%p
  %a(href = '/phillipe/ride')
    Encourage Phillipe to run straight instead of trot in a circle

%p
  or

%p
  %a(href = '/phillipe/convince')
    Get off of Phillipe to inspect him- maybe he is injured?
