%p
  Phillipe just needs some guidance and you are the man to do it.  You have never ridden a horse before, let alone a cartoon-horse-time-machine… but whatever!  You get close to Phillipe’s ear and tell him:

%p
  Look, this is going to be scary but you and I are meant to experience this together.  Take me to Theresa’s house in 1998 so we can save this village and save her from being a crazy-no-donut-having-B.

%p
  You take the reins and guide him straight and smack him on the rear, and he takes off.  You are traveling at lightning speed!

%p
  You blink and you are in Theresa’s living room … with a cartoon horse.  Luckily, she loves Beauty and the Beast so she recognizes Phillipe and her current favorite TV show is Sliders so sci-fi travel is on the forefront of her mind.  She takes you into her arms and says:

%p
  You took a time-machine horse back into time to save me?  I haven’t fallen in love with you at this point (in 1998) but I can see why I would.  Your willingness to remain opened to new adventures and experiences will draw us together as we have maneuvered through our adult years.  I’ve will enjoy all the moments that follow each instance you and I look at each other and nod, “Let’s do this!” Thank you for taking these leaps with me each time.  You!

%p
  %strong
    THE END

%p
  %a(href = '/')
    Play Again
