%h1
  Choose Your Own Adventure

%h3
  Save the Day with Donuts

%p
  Farting Man: You must be Jimmy!  (/farts)  We’ve been waiting for you.  (/farts)  Legend tells us of a man with a face of a baby and a butt of a shelf (that could hold a cup) named Jimmy that would come and help us on our mission.  (/farts)  We are cursed by and evil witch named Theresa.  (/farts)  Everyone in our village farts after every sentence- even for incomplete sentences!  (/farts)  Years ago, she was watching a movie and only had 10 donuts to satisfy her monstrous appetite.  (/farts)  She grew up to be a cranky, angry villain.  (/farts)  We need you to go back into time to give her a dozen donuts.  (/farts)  Only when she eats 22 donuts will our village be saved from this curse and live with considerably less odor and offensive noises.  (/farts)

%p
  You: Theresa?  That is my wife- this sounds easy.  Sure!  How do I do this?

%p
  Farting Man: We will equip you with a time machine.  (/farts)  We have two- one is an NSX and one is the horse form Beauty and the Beast named Phillipe.  (/farts)

%p
  %a(href = '/nsx')
    Choose NSX
%p
  %a(href = '/phillipe')
    Choose Phillipe
